<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://avatars.githubusercontent.com/u/60666764?s=400&u=6ebeeeb1554f660da87b1b2278f3b3ee5e5921dd&v=4"
    alt="">
  <h1>Alberto Marques</h1>
  Professor nas Etecs:
  <br>Raposo Tavares (Capital)
  <br>Dr. Celso Giglio (Osasco)
  <br>Prof. André Bogasian (Osasco)
  <p><a href="mailto:prof.amarques@gmail.com">prof.amarques@gmail.com</a></p>

</ion-content>
